@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --text-color: #f5f5f5;
    --hover-color: #1c95cd;
    --bg-color: #03051f;
    /* hard to choose the color XD btw color: #121212  #03001C*/
    --secon-bg-color: #000000;
    --big-font: 2.5rem;
    --normal-font: 2rem;
    --neon-box-shadow: 0 0 0.5rem #6e7ad0;
    --h2-font-size: 4rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

header.sticky {
    padding: 11px 10%;
    background: var(--bg-color);
    border-bottom: 1px solid var(--secon-bg-color);
}

.name {
    font-size: 25px;
    font-weight: 800;
}

span {
    color: var(--hover-color);
}

.word {
    color: var(--hover-color);
}

.nav-list {
    display: flex;
}

.nav-list a {
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
}

.nav-list a:hover {
    color: var(--hover-color);
    text-shadow: var(--neon-box-shadow);
}

.nav-list .active {
    color: var(--hover-color);
    text-shadow: var(--neon-box-shadow);
}

.togg {
    font-size: 1.4rem;
    background: none;
    color: rgb(255, 255, 255);
    border: none;
    margin-top: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.togg:hover {
    color: var(--hover-color);
    text-shadow: var(--neon-box-shadow);
}

#menu-icon {
    font-size: 1.85rem;
    z-index: 10002;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}

section {
    padding: 100px 10%;
}

.home {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.img-box img {
    box-shadow: 12px 12px 2px 1px #15095a;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: var(--big-font);
    font-weight: 700;
}

.change-text {
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
}

.change-text .word {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    animation: typing 6s steps(15) infinite, blink .8s infinite;
}

@keyframes blink {
    from {
        border-color: transparent
    }
    to {
        border-color: white;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    25%,
    75% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.home-content p {
    color: #ffffff;
    line-height: 1.6;
}

.info-box h5 {
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.info-box span {
    font-size: .9rem;
    color: #bdbdbd;
}

.btn-box {
    margin: 20px 0px 20px 0;
    width: 320px;
    height: 45px;
}

.btn-box .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}

.btn:hover {
    color: var(--hover-color);
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .6s;
}

.btn:hover::before {
    width: 100%;
}

.social {
    margin-top: 7rem;
}

.social-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 40px;
}

.social-icons a {
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.3rem #12f7ff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-right: 10px;
}

.social-icons a i {
    font-size: 1.5rem
}

.social-icons a:hover {
    color: var(--bg-color);
}

.social-icons a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -1;
}

.social-icons a:hover::before {
    width: 100%;
}

.home-image {
    position: relative;
}

.img-box {
    text-align: center;
}

.img-box img {
    width: 100%;
    max-width: 350px;
    height: auto;
}


/* --About- */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    background: var(--secon-bg-color);
}

.about .img-about {
    text-align: center;
    position: relative;
}

.about .img-about img {
    max-width: 400px;
}

.about-content span {
    font-weight: 300;
    color: #fdfdfd;
    font-size: 1rem;
    letter-spacing: 2px;
}

.about-content h2 {
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font);
    margin-bottom: .3rem;
}

about-content p {
    color: #fdfdfd;
    font-weight: 300;
}

.main-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}

.main-text h2 {
    font-weight: 700;
    font-size: var(--normal-font);
}

.main-text span {
    color: #fdfdfd;
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* skills */

.skills {
    background: #03001C;
}

.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.skill-bar {
    margin-bottom: 2.35rem;
}

.skill-main h3 {
    margin-bottom: 1.5rem;
    font-size: var(--normal-font);
    text-align: center;
}

.skill-main .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-main .skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span {
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 20px;
    box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .html {
    width: 80%;
    animation: html 10s;
}

.skill-bar .bar .css {
    width: 50%;
    animation: css 10.1s;
}

.skill-bar .bar .javascript {
    width: 35%;
    animation: javascript 10.2s;
}

.skill-bar .bar .cpp {
    width: 60%;
    animation: cpp 11s;
}

.skill-bar .bar .nodejs {
    width: 30%;
    animation: nodejs 12s;
}

.skill-bar .bar .expressjs {
    width: 20%;
    animation: expressjs 12s;
}

@keyframes html {
    0% {
        width: 0%
    }
    100% {
        width: 80%
    }
}

@keyframes css {
    0% {
        width: 0%
    }
    100% {
        width: 50%
    }
}

@keyframes javascript {
    0% {
        width: 0%
    }
    100% {
        width: 35%
    }
}

@keyframes cpp {
    0% {
        width: 0%
    }
    100% {
        width: 60%
    }
}

@keyframes nodejs {
    0% {
        width: 0%
    }
    100% {
        width: 30%
    }
}

@keyframes expressjs {
    0% {
        width: 0%
    }
    100% {
        width: 20%
    }
}


/* projects----- */

.filter-buttons {
    margin: 2.5rem;
    text-align: center;
}

.filter-buttons .btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .3px;
    margin-left: 1.28rem;
    color: var(--text-color);
}

.filter-buttons .btn:hover {
    color: var(--hover-color);
    text-shadow: var(--neon-box-shadow);
}

.filter-buttons .active {
    color: var(--hover-color);
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 2rem;
}

.port-box {
    border-radius: 0.2px;
    box-shadow: var(--neon-box-shadow);
    overflow: hidden;
    background: #292e33;
    display: inline-table;
    align-items: center;
    margin-left: 180px;
    margin-right: 100px;
    border: 5px solid var(--hover-color);
    position: relative;
    height: 320px;
    width: 270px;
    
}

.port-image {
    display: span;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.port-image img {
    width: 100%;
    opacity: .6s;
    height: 100%;
    transition: .6s;
}

.port-content {
    transition: .6s;
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.2), black);
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
}

.port-content h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

.port-content p {
    font-size: .8rem;
    margin: 5px 0 15px 0;
}

.port-content a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.port-box:hover .port-content {
    opacity: 1;
}

.port-box:hover .port-image img {
    transform: scale(1.2);
    opacity: .2;
}

.port-content a i {
    font-size: 1.32rem;
    color: rgb(244, 244, 244);
}


/* contact--- */

#contact {
    background: var(--secon-bg-color);
    width: 100%;
}

.contact form {
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    margin-bottom: .7rem;
    border-radius: 5px;
    padding: .7rem;
}

.contact form textarea {
    resize: none;
}

.form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-btn .btn {
    cursor: pointer;
    font-size: 1rem;
}

footer {
    display: flex;
    padding: 1.6rem 10%;
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: #bdbdbd;
}

footer a {
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .7rem;
    border-radius: 5px;
}


/* scrollparallex */

.scroll-scale {
    opacity: 0;
    transform: scale(.9);
    transition: all 2s;
}

.scroll-bottom {
    opacity: 0;
    transform: translateY(300px);
    transition: 3s;
}

.show-items {
    opacity: 1;
    transform: translateX(0);
}

::-webkit-scrollbar {
    width: .3rem;
}

::-webkit-scrollbar-track {
    background: var(--secon-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: 1rem;
}

@media(max-width:991px) {
    header,
    header.sticky {
        padding: 15px 5%;
    }
    footer {
        padding: 5x 5%;
    }
    section {
        padding: 50px 5%;
    }
    .nav-list a {
        padding: 8px 15px;
    }
     :root {
        --text-color: #f5f5f5;
        --hover-color: #32c299;
        --bg-color: #121212;
        /* hard to choose the color hehe btw color: #121212  #03001C*/
        --secon-bg-color: #333329;
        --big-font: 2.2rem;
        --normal-font: 1.8rem;
        --neon-box-shadow: 0 0 0.5rem #1c95cd;
        --h2-font-size: 4rem;
        --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.6), 0 0 20px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6), 0 0 40px rgba(18, 247, 255, 0.6), 0 0 50px rgba(18, 247, 255, 0.6), 0 0 60px rgba(18, 247, 255, 0.6), 0 0 70px rgba(18, 247, 255, 0.6), 0 0 80px rgba(18, 247, 255, 0.6), 0 0 100px rgba(18, 247, 255, 0.6), 0 0 150px rgba(18, 247, 255, 0.6),
    }
    .home-content {
        margin-top: 5.2rem;
    }
    .social-icons {
        margin-top: 1rem;
    }
}

@media(max-width:768px) {
    .togg {
        margin-right: -50%;
        font-size: 1.9rem;
    }
    #menu-icon {
        display: block;
        transition: all .3s ease;
    }
    #menu-icon.ri-close-fill {
        transform: rotate(-180deg);
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        padding: 0 5%;
        transition: all .40s ease;
        position: absolute;
        right: 0;
        left: 0;
        top: -2000px;
    }
    .nav-list a {
        display: block;
        padding-bottom: 1.2rem;
        font-size: 1rem;
    }
    .nav-list.open {
        top: 100%;
    }
    .home {
        grid-template-columns: 1fr;
    }
    .home-image {
        margin: 3rem 0px;
    }
    .about {
        flex-direction: column-reverse;
    }
    .filter-buttons {
        margin: 2rem 0;
    }
    footer {
        font-size: .8rem;
    }
}

@media(max-width:505px) {
    .togg {
        margin-right: -40%;
        font-size: 2rem;
    }
}

@media(max-width:476px) {
    .togg {
        margin-right: -20%;
        font-size: 2rem;
    }
    html {
        font-size: 81%;
    }
    .img-box img {
        height: 320px;
        width: 270px;
    }
    .filter-buttons .btn {
        font-size: .82rem;
    }
    .contact {
        height: 75vh;
    }
    footer {
        font-size: .5rem;
    }

}